
<div class="header">
    <div class="pull-left">
        <div class="header-inner">
            <a id="show-side-menu" href="javascript:void(0)" class="m-r-15"><span
                    class="fa fa-bars text-master-light fa-2x m-l-10"></span></a>
            <h5 class="pull-right no-margin semi-bold">Sport Class Search</h5>
        </div>
    </div>
    <div class=" pull-right">
        <div class="visible-lg visible-md m-t-20">
            <span dropdown>
              <a href id="simple-dropdown" dropdownToggle>
                Welcome, {{userName}}
              </a>
              <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="['/profile']" href="javascript:void(0);">My Profile</a>
                </li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="logOut()" href="javascript:void(0);">Logout</a></li>
              </ul>
            </span>
        </div>
    </div>
</div>
