<div class="container-fluid sm-padding-10">
    <div class="col-md-3">

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Profile</div>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-9">


        <div class="panel panel-default hover-stroke">
            <div class="panel-body no-padding">
                <div class="container-sm-height">
                    <div class="row row-sm-height">
                        <div class="col-sm-12 col-sm-height padding-10 col-top">
                            <form id="profile-form" [formGroup]="profileForm" novalidate
                                  (ngSubmit)="saveProfile(profileForm.value, profileForm.valid)" role="form">
                                <div class="form-group">
                                    <div *ngIf="profile.profilePic" class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
                                        <dropzone class="upload-area" [config]="config" [placeholder]="profile.profilePic" [message]="'Click or drag profile picture here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (removedfile)="onCancelFileUpload($event)"></dropzone>
                                    </div>
                                    <div *ngIf="profile.profilePic==undefined" class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
                                        <dropzone class="upload-area" [config]="config" [message]="'Click or drag profile picture here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (removedfile)="onCancelFileUpload($event)"></dropzone>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" id="name" formControlName="name"
                                           tabindex="1" class="form-control"
                                           placeholder="Your name." value="">
                                    <small [hidden]="profileForm.controls.name.valid || (profileForm.controls.name.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Message title required.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <div class="radio">
                                        <input id="male" type="radio" name="gender" formControlName="gender" value="male" checked="checked">
                                        <label for="male">Male</label>
                                        <input id="female" type="radio" name="gender" formControlName="gender" value="female">
                                        <label for="female">Female</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="name" id="email" formControlName="email"
                                           tabindex="2" class="form-control"
                                           placeholder="Your email address" value="">
                                    <small [hidden]="profileForm.controls.email.valid || (profileForm.controls.email.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Email address required.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <input id="customer" type="radio" name="type" formControlName="type" value="customer" checked="checked">
                                        <label for="customer">Customer</label>
                                        <input id="trainer" type="radio" name="type" formControlName="type" value="trainer">
                                        <label for="trainer">Trainer</label>
                                    </div>
                                    <small [hidden]="profileForm.controls.type.valid || (profileForm.controls.type.pristine && !submitted)" class="text-danger">
                                        User type required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="address1" id="address1" formControlName="address1"
                                           tabindex="25"
                                           class="form-control"
                                           placeholder="Sport class address line 1" value="">
                                    <small [hidden]="profileForm.controls.address.controls.address1.valid || (profileForm.controls.address.controls.address1.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Address line 1 required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="address2" id="address2" formControlName="address2"
                                           tabindex="26"
                                           class="form-control"
                                           placeholder="Sport class address line 2" value="">
                                    <small [hidden]="profileForm.controls.address.controls.address2.valid || (profileForm.controls.address.controls.address2.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Address line 2 required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="city" id="city" formControlName="city"
                                           tabindex="27" class="form-control"
                                           placeholder="City.." value="">
                                    <small [hidden]="profileForm.controls.address.controls.city.valid || (profileForm.controls.address.controls.city.pristine && !formSubmitted)"
                                           class="text-danger">
                                        City required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="state" id="state" formControlName="state"
                                           tabindex="28" class="form-control"
                                           placeholder="State.." value="">
                                    <small [hidden]="profileForm.controls.address.controls.state.valid || (profileForm.controls.address.controls.state.pristine && !formSubmitted)"
                                           class="text-danger">
                                        State required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="country" id="country"
                                           formControlName="country"
                                           tabindex="29" class="form-control"
                                           placeholder="Country.." value="">
                                    <small [hidden]="profileForm.controls.address.controls.country.valid || (profileForm.controls.address.controls.country.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Country required.
                                    </small>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <input type="text" name="zipcode" id="zipcode" formControlName="zipcode"
                                           tabindex="30"
                                           class="form-control"
                                           placeholder="Zipcode.." value="">
                                    <small [hidden]="profileForm.controls.address.controls.zipcode.valid || (profileForm.controls.address.zipcode.pristine && !formSubmitted)"
                                           class="text-danger">
                                        Zipcode required.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-6">
                                            <input type="submit" name="sport-submit" id="sport-submit" tabindex="31"
                                                   class="form-control btn btn-register" value="Save">
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>