<div class="container-fluid sm-padding-10">
    <div class="col-md-3">

        <div class="panel" *ngIf="currentUserData.type=='trainer'">
            <div class="panel-heading">
                <div class="panel-title">My Sports</div>
            </div>
            <div class="panel-body">
                <div data-toggle="buttons">

                    <button class="btn btn-default btn-sm btn-block" name="add-sport" id="add-sport"
                            (click)="showAddSportModal()"> Add New Sport
                    </button>

                    <button class="btn btn-default btn-sm btn-block" name="all-sport" id="all-sport"
                            (click)="showAddSportModal()"> All Sports
                    </button>

                    <button class="btn btn-default btn-sm btn-block" name="my-sport" id="my-sport"
                            (click)="showAddSportModal()"> My Sports
                    </button>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Search</div>
            </div>
            <div class="panel-body">
                <form novalidate id="search-form" [formGroup]="searchForm" novalidate
                      (ngSubmit)="search(searchForm.value, searchForm.valid)" role="form">
                    <div class="form-group">
                        <input type="text" name="tags" id="tags" formControlName="tags" tabindex="1"
                               class="form-control" placeholder="Search keywords" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" id="name" formControlName="name" tabindex="1"
                               class="form-control" placeholder="Search by name" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="country" id="country" formControlName="country" tabindex="1"
                               class="form-control" placeholder="Search by country" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="state" id="state" formControlName="state" tabindex="1"
                               class="form-control" placeholder="Search by state" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="state" id="city" formControlName="city" tabindex="1"
                               class="form-control" placeholder="Search by city" value="">
                    </div>
                    <div class="form-group row">
                        <label for="age" class="col-sm-4 control-label">Age</label>
                        <div class="col-sm-8">
                            <select id="age" name="age" formControlName="age" class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                                <option>60</option>
                                <option>65</option>
                                <option>70</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-4 control-label">Max Price</label>
                        <div class="col-sm-8">
                            <select id="price" formControlName="price" name="price" class="form-control">
                                <option [value]="0">0</option>
                                <option [value]="10">$10</option>
                                <option [value]="20">$20</option>
                                <option [value]="30">$30</option>
                                <option [value]="40">$40</option>
                                <option [value]="50">$50</option>
                                <option [value]="60">$60</option>
                                <option [value]="70">$70</option>
                                <option [value]="80">$80</option>
                                <option [value]="90">$90</option>
                                <option [value]="100">$100</option>
                                <option [value]="150">$150</option>
                                <option [value]="200">$200</option>
                                <option [value]="250">$250</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <input type="submit" name="register-submit" id="register-submit" tabindex="4"
                                       class="form-control btn btn-register" value="Search">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-9">


        <div class="panel panel-default hover-stroke">
            <div class="panel-body no-padding">
                <div class="container-sm-height">
                    <div class="row row-sm-height">
                        <div class="col-sm-12 col-sm-height padding-10 col-top">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sports</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let sport of sports">
                                    <td style="width: 250px;">
                                        <img class="placeholder-thumbnail"
                                             src="{{prompPicture || 'assets/images/placeholder.png'}}"/>
                                    </td>
                                    <td>
                                        <div class="grid simple ">
                                            <div class="grid-title">
                                                <h4>{{sport.name}}</h4>
                                                <div class="tools">
                                                    <button (click)="showFeedbackModal(sport.ownerId)"><i
                                                            class="fa fa-star-half-full"></i></button>
                                                    <button (click)="showMessagedModal(sport.ownerId)"><i
                                                            class="fa fa-envelope"></i></button>
                                                </div>
                                            </div>
                                            <div class="grid-body">
                                                <p *ngIf="sport.address"><i class="fa fa-map-marker"></i> <span
                                                        *ngIf="sport.address.address1">{{sport.address.address1}}, </span><span
                                                        *ngIf="sport.address.address2">{{sport.address.address2}}, </span><span
                                                        *ngIf="sport.address.city">{{sport.address.city}}, </span><span
                                                        *ngIf="sport.address.state">{{sport.address.state}}, </span><span
                                                        *ngIf="sport.address.country">{{sport.address.country}} </span>
                                                    <span *ngIf="sport.address.zipcode">{{sport.address.zipcode}}</span>
                                                </p>
                                                <p>{{sport.description}}</p>
                                                <h5><i class="fa fa-calendar-o"></i> {{sport.createdDt|date:'MMM dd,
                                                    yyyy'}}</h5>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPagination(page)">{{page}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="sports?.length<=0" class="row row-sm-height">
                        <div class="col-sm-1 col-sm-height col-middle bg-master-lighter">
                            <h4 class="text-center text-white no-margin">
                                <i class="fa fa-warning "></i>
                                No sport class found.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #messageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Private message with {{trainer.name}}</h4>
                <button type="button" class="close pull-right" (click)="this.messageModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" *ngIf="lastMessages?.length>0">
                        <thead>
                        <tr>
                            <th>Last conversation with {{trainer.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let msg of lastMessages">
                            <td>
                                <h4>{{msg.title}}</h4>
                                <p>{{msg.description}}</p>
                                <p><i class="fa fa-calendar-o"></i> {{msg.createdDt | date:'MMM dd, yyyy'}}</p>
                                <p *ngIf="msg.senderId"><i class="fa fa-user"></i>
                                    {{msg.senderId._id==currentUserData._id?'You':msg.senderId.name}}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="lastMessages?.length<=0" class="row row-sm-height">
                        <h4 class="text-center text-white no-margin">
                            <i class="fa fa-warning "></i>
                            No conversation found.
                        </h4>
                    </div>
                </div>
                <form id="message-form" [formGroup]="messageForm" novalidate
                      (ngSubmit)="sendMessage(messageForm.value, messageForm.valid)" role="form">
                    <div class="form-group">
                        <input type="text" name="title" id="title" formControlName="title" tabindex="8"
                               class="form-control"
                               placeholder="Your message title" value="">
                        <small [hidden]="messageForm.controls.title.valid || (messageForm.controls.title.pristine && !msgSent)"
                               class="text-danger">
                            Message title required.
                        </small>
                    </div>
                    <div class="form-group">

                        <textarea tabindex="9" name="description" id="description" formControlName="description"
                                  class="form-control"
                                  placeholder="You message"></textarea>
                        <small [hidden]="messageForm.controls.description.valid || (messageForm.controls.description.pristine && !msgSent)"
                               class="text-danger">
                            Description required.
                        </small>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <input type="submit" name="message-submit" id="message-submit" tabindex="4"
                                       class="form-control btn btn-register" value="Send">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div bsModal #feedbackModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Feedback</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="this.feedbackModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedback-form" [formGroup]="feedbackForm" novalidate
                      (ngSubmit)="saveFeedback(feedbackForm.value, feedbackForm.valid)" role="form">
                    <div class="form-group">
                        <div data-toggle="buttons-radio" class="btn-group">
                            <button (click)="ratting=1" [ngClass]="{'btn-primary' : ratting==1}" class="btn btn-white">
                                1
                            </button>
                            <button (click)="ratting=2" [ngClass]="{'btn-primary' : ratting==2}" class="btn btn-white">
                                2
                            </button>
                            <button (click)="ratting=3" [ngClass]="{'btn-primary' : ratting==3}" class="btn btn-white">
                                3
                            </button>
                            <button (click)="ratting=4" [ngClass]="{'btn-primary' : ratting==4}" class="btn btn-white">
                                4
                            </button>
                            <button (click)="ratting=5" [ngClass]="{'btn-primary' : ratting==5}" class="btn btn-white">
                                5
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea tabindex="9" name="content" id="content" formControlName="content"
                                  class="form-control"
                                  placeholder="Your feedback"></textarea>
                        <small [hidden]="feedbackForm.controls.content.valid || (feedbackForm.controls.content.pristine && !feedbackSubmitted)"
                               class="text-danger">
                            Content required.
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <input type="submit" name="feedback-submit" id="feedback-submit" tabindex="4"
                                       class="form-control btn btn-register" value="Save">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #addSportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add New Sport</h4>
                <button type="button" class="close pull-right" (click)="this.addSportModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel" *ngIf="currentUserData.type=='trainer'">
                    <div class="panel-heading">
                        <div class="panel-title">Add Sports</div>
                    </div>
                    <div class="panel-body">
                        <form id="sport-form" [formGroup]="addSportForm" novalidate
                              (ngSubmit)="saveSport(addSportForm.value, addSportForm.valid)" role="form">
                            <div class="form-group">
                                <input type="text" name="sportName" id="sportName" formControlName="sportName"
                                       tabindex="21" class="form-control"
                                       placeholder="Sport's name. For e.g Baseball" value="">
                                <small [hidden]="addSportForm.controls.sportName.valid || (addSportForm.controls.sportName.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Message title required.
                                </small>
                            </div>
                            <div class="form-group">
                                <textarea tabindex="22" name="sportDescription" id="sportDescription"
                                          formControlName="sportDescription" class="form-control"
                                          placeholder="Sport's description"></textarea>
                                <small [hidden]="addSportForm.controls.sportDescription.valid || (addSportForm.controls.sportDescription.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Description required.
                                </small>
                            </div>
                            <div class="form-group">
                                <input type="text" name="sportAge" id="sportAge" formControlName="sportAge"
                                       tabindex="23"
                                       class="form-control"
                                       placeholder="Age group for the class" value="">
                                <small [hidden]="addSportForm.controls.sportAge.valid || (addSportForm.controls.sportAge.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Message title required.
                                </small>
                            </div>
                            <div class="form-group">
                                <input type="text" name="sportPrice" id="sportPrice" formControlName="sportPrice"
                                       tabindex="24" class="form-control"
                                       placeholder="Sport class price" value="">
                                <small [hidden]="addSportForm.controls.sportPrice.valid || (addSportForm.controls.sportPrice.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Message title required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="address1" id="address1" formControlName="address1"
                                       tabindex="25"
                                       class="form-control"
                                       placeholder="Sport class address line 1" value="">
                                <small [hidden]="addSportForm.controls.address.controls.address1.valid || (addSportForm.controls.address.controls.address1.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Address line 1 required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="address2" id="address2" formControlName="address2"
                                       tabindex="26"
                                       class="form-control"
                                       placeholder="Sport class address line 2" value="">
                                <small [hidden]="addSportForm.controls.address.controls.address2.valid || (addSportForm.controls.address.controls.address2.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Address line 2 required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="address1" id="sportCity" formControlName="sportCity"
                                       tabindex="27" class="form-control"
                                       placeholder="City.." value="">
                                <small [hidden]="addSportForm.controls.address.controls.sportCity.valid || (addSportForm.controls.address.controls.sportCity.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    City required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="sportState" id="sportState" formControlName="sportState"
                                       tabindex="28" class="form-control"
                                       placeholder="State.." value="">
                                <small [hidden]="addSportForm.controls.address.controls.sportState.valid || (addSportForm.controls.address.controls.sportState.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    State required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="sportCountry" id="sportCountry" formControlName="sportCountry"
                                       tabindex="29" class="form-control"
                                       placeholder="Country.." value="">
                                <small [hidden]="addSportForm.controls.address.controls.sportCountry.valid || (addSportForm.controls.address.controls.sportCountry.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Country required.
                                </small>
                            </div>
                            <div class="form-group" formGroupName="address">
                                <input type="text" name="zipcode" id="zipcode" formControlName="zipcode" tabindex="30"
                                       class="form-control"
                                       placeholder="Zipcode.." value="">
                                <small [hidden]="addSportForm.controls.address.controls.zipcode.valid || (addSportForm.controls.address.zipcode.pristine && !sportSubmitted)"
                                       class="text-danger">
                                    Zipcode required.
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="row-fluid">
                                    <div class="fallback" class="dropzone no-margin">
                                        <input name="file" type="file" multiple/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-6">
                                        <input type="submit" name="sport-submit" id="sport-submit" tabindex="31"
                                               class="form-control btn btn-register" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>